<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/{{code_theme}}.min.css">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="{{root}}rhai-doc-styles.css">
    {{#if stylesheet}}
    <link rel="stylesheet" href="{{root}}{{stylesheet}}">
    {{/if}}
    <meta name="theme-color" content="#fafafa">
    <title>{{title}} - {{name}}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{root}}index.html"><img class="logo" src="{{root}}{{icon}}" alt="Logo" /></a></li>
                <li class="title">{{title}}</li>
                {{#if external_links}}
                <li>
                    <hr class="divider" />
                </li>
                {{#each external_links}}
                <li><a href="{{root}}{{this.link}}" class="button">{{this.name}}</a></li>
                {{/each}}
                {{/if}}

            </ul>
        </nav>
    </header>
    <main>
        <div id="content">
            <aside>
                {{#each page_links}}
                <div>
                    <a class="link{{#if this.active}} active{{/if}}" href="{{../root}}{{this.link}}">{{this.name}}</a>
                </div>
                {{/each}}

                <h1 class="menu-header">Scripts API</h1>
                <ul>
                    {{#each script_links}}
                    <li><a class="link{{#if this.active}} active{{/if}}"
                           href="{{../root}}{{this.link}}"><code>{{this.name}}</code></a></li>
                    {{#if this.sub_links}}
                    <ul>
                        {{#each this.sub_links}}
                        <li><a href="#{{this.link}}"><code>{{this.name}}</code></a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}
                </ul>
            </aside>
            <section>
                {{#if markdown}}
                <div class="md">
                    {{markdown}}
                </div>
                {{/if}}
                {{#each functions}}
                {{>fn-block this}}
                {{/each}}
            </section>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            document.querySelectorAll("pre > code").forEach(function(block) {
                hljs.highlightBlock(block);
            });
        });
    </script>

    {{#if google_analytics}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());

        gtag("config", "{{google_analytics}}");
    </script>
    {{/if}}
</body>

</html>